<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Jekyll v3.8.5" />
    <title>E-commerce Emporium</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.3/examples/pricing/"
    />

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/addAndSubtract.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="/javascripts/stripe.js" crossorigin="anonymous"></script>

    <style>
      .emp-profile {
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
      }
      .profile-img {
        text-align: center;
      }
      .profile-img img {
        width: 70%;
        height: 100%;
      }
      .profile-img .file {
        position: relative;
        overflow: hidden;
        margin-top: -20%;
        width: 70%;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
      }
      .profile-img .file input {
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
      }
      .profile-head h5 {
        color: #333;
      }
      .profile-head h6 {
        color: #0062cc;
      }
      .profile-edit-btn {
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
      }
      .proile-rating {
        font-size: 12px;
        color: #818182;
        margin-top: 5%;
      }
      .proile-rating span {
        color: #495057;
        font-size: 15px;
        font-weight: 600;
      }
      .profile-head .nav-tabs {
        margin-bottom: 5%;
      }
      .profile-head .nav-tabs .nav-link {
        font-weight: 600;
        border: none;
      }
      .profile-head .nav-tabs .nav-link.active {
        border: none;
        border-bottom: 2px solid #0062cc;
      }
      .profile-work {
        padding: 14%;
        margin-top: -15%;
      }
      .profile-work p {
        font-size: 12px;
        color: #818182;
        font-weight: 600;
        margin-top: 10%;
      }
      .profile-work a {
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 14px;
      }
      .profile-work ul {
        list-style: none;
      }
      .profile-tab label {
        font-weight: 600;
      }
      .profile-tab p {
        font-weight: 600;
        color: #0062cc;
      }

      /* Smartphones (landscape) ----------- */
      @media only screen and (min-width: 321px) {
        /* Styles */
      }

      /* Smartphones (portrait) ----------- */
      @media only screen and (max-width: 320px) {
        /* Styles */
      }
      html {
        font-size: 14px;
      }
      @media (min-width: 768px) {
        html {
          font-size: 16px;
        }
      }

      .container {
        max-width: 960px;
      }

      .pricing-header {
        max-width: 700px;
      }

      .card-deck .card {
        min-width: 220px;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <style>
      .table > tbody > tr > td,
      .table > tfoot > tr > td {
        vertical-align: middle;
      }
      @media screen and (max-width: 600px) {
        table#cart tbody td .form-control {
          /* width: 20%; */
          display: inline !important;
        }
        .actions .btn {
          width: 36%;
          margin: 1.5em 0;
        }

        .actions .btn-info {
          float: left;
        }
        .actions .btn-danger {
          float: right;
        }

        table#cart thead {
          display: none;
        }
        table#cart tbody td {
          display: block;
          padding: 0.6rem;
          min-width: 320px;
        }
        table#cart tbody tr td:first-child {
          background: #333;
          color: #fff;
        }
        table#cart tbody td:before {
          content: attr(data-th);
          font-weight: bold;
          display: inline-block;
          width: 8rem;
        }

        table#cart tfoot td {
          display: block;
        }
        table#cart tfoot td .btn {
          display: block;
        }
      }
    </style>
  </head>
  <body>
    <div
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
    >
      <h5 class="my-0 mr-md-auto font-weight-normal">
        <a href="/">Home</a>
      </h5>

      <nav class="my-2 my-md-0 mr-md-3">
        <% if(!user){ %>
        <a class="p-2 text-dark" href="/api/users/signup"
          >Sign up <span class="sr-only">(current)</span></a
        >

        <a class="p-2 text-dark" href="/api/users/signup">Sign in</a>
        <% } else { %>
        <a class="p-2 text-dark" href="/api/users/edit-profile"
          >loggedIn as <%= user.profile.name %></a
        >
        <a class="p-2 text-dark" href="/api/users/logout">Logout</a>
        <a class="p-2 text-dark" href="/api/cart">
          <span class="fa-stack  has-badge" data-count="<%= cart %>">
            <i class="fas fa-shopping-cart"></i>
          </span>
          <small><%= cart %></small>
        </a>

        <% } %>
      </nav>
    </div>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1>Checkout</h1>
    </div>

    <div class="container" style="min-height: 60vh !important;">
      <div class="card-deck mb-3 text-center">
        <script src="https://js.stripe.com/v3"></script>
        <div class="card mb-4 shadow-sm">
          <link
            href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
            rel="stylesheet"
          />
          <div class="container">
            <table id="cart" class="table table-hover table-condensed">
              <thead>
                <tr>
                  <th style="width:50%">Product</th>
                  <th style="width:10%">Price</th>
                  <th style="width:8%">Quantity</th>
                  <th style="width:22%" class="text-center">Subtotal</th>
                  <th style="width:10%"></th>
                </tr>
              </thead>
              <tbody>
                <% for(let i = 0; i < myCart.items.length; i++) { %>
                <form method="POST" action="/api/cart/remove?_method=DELETE">
                  <input
                    type="hidden"
                    name="id"
                    value="<%= myCart.items[i]._id %>"
                  />
                  <input
                    type="hidden"
                    name="price"
                    value="<%= myCart.items[i].item.price %>"
                  />

                  <tr>
                    <td data-th="Product">
                      <div class="row">
                        <div class="col-sm-2 hidden-xs">
                          <img
                            src="<%= myCart.items[i].item.image %>"
                            alt="..."
                            class="img-responsive"
                          />
                        </div>
                        <div class="col-sm-10">
                          <h4 class="nomargin"></h4>
                          <p>
                            <%= myCart.items[i].item.name %>
                          </p>
                        </div>
                      </div>
                    </td>
                    <td data-th="Price"><%= myCart.items[i].item.price %></td>
                    <td data-th="Quantity">
                      <div>
                        <%= myCart.items[i].quantity %>
                      </div>
                    </td>
                    <td data-th="Subtotal" class="text-center">
                      <%= myCart.items[i].price %>
                    </td>
                    <td class="actions" data-th="">
                      <button class="btn btn-danger btn-sm">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </td>
                  </tr>
                </form>

                <% } %>
              </tbody>
              <tfoot>
                <tr class="visible-xs">
                  <td class="text-center"><strong>Total</strong></td>
                </tr>
                <tr>
                  <td>
                    <a href="#" class="btn btn-warning"
                      ><i class="fa fa-angle-left"></i> Continue Shopping</a
                    >
                  </td>
                  <td colspan="2" class="hidden-xs"></td>
                  <td class="hidden-xs text-center">
                    <strong>Total <%= myCart.total %></strong>
                  </td>

                  <td>
                    <a href="#"
                      ><i
                        class="far fa-credit-card fa-3x"
                        data-toggle="modal"
                        data-target="#exampleModal"
                      ></i
                    ></a>
                  </td>
                </tr>
              </tfoot>
            </table>
            <div
              class="modal "
              id="exampleModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Stripe Payment
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col">
                          <div class="panel panel-default credit-card-box">
                            <div class="panel-heading display-table">
                              <div class="row display-tr">
                                <h3 class="panel-title display-td">
                                  Payment Details
                                </h3>
                                <div class="display-td">
                                  <img
                                    class="img-responsive pull-right"
                                    src="http://i76.imgup.net/accepted_c22e0.png"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="panel-body">
                              <form
                                role="form"
                                id="payment-form"
                                method="POST"
                                action="/api/cart/payment"
                              >
                                <input
                                  type="hidden"
                                  name="stripeMoney"
                                  value="<%= myCart.total %>"
                                />
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label for="cardNumber"
                                        >CARD NUMBER</label
                                      >
                                      <div class="input-group">
                                        <input
                                          type="tel"
                                          class="form-control"
                                          name="cardNumber"
                                          placeholder="Valid Card Number"
                                          autocomplete="cc-number"
                                          id="card-number"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col">
                                    <div class="form-group">
                                      <label for="cardExpiry"
                                        ><span class="hidden-xs"
                                          >EXPIRATION</span
                                        ><span class="visible-xs-inline"
                                          >EXP</span
                                        >
                                        DATE</label
                                      >
                                      <input
                                        type="tel"
                                        class="form-control"
                                        name="cardExpiry"
                                        placeholder="MM / YY"
                                        autocomplete="cc-exp"
                                        id="card-expiry-month-year"
                                      />
                                    </div>
                                  </div>
                                  <div class="col pull-right">
                                    <div class="form-group">
                                      <label for="cardCVC">CV CODE</label>
                                      <input
                                        type="tel"
                                        class="form-control"
                                        name="cardCVC"
                                        placeholder="CVC"
                                        autocomplete="cc-csc"
                                        id="card-cvc"
                                      />
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col">
                                    <button
                                      class="btn btn-success btn-lg btn-block"
                                      type="submit"
                                    >
                                      Pay: $(<%= myCart.total %>)
                                    </button>
                                  </div>
                                </div>
                                <div class="row" style="display:none;">
                                  <div class="col">
                                    <p class="payment-errors"></p>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                          <!-- CREDIT CARD FORM ENDS HERE -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="error-message"></div>
        </div>
      </div>
    </div>
    <br /><br /><br /><br />
    <% include ./partials/footer %>
  </body>
</html>
